__pycache__/
*.py[cod]
*$py.class

*.db
database/*.db

.env
*.env
env/
venv/
.venv/

.spyproject/
.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
*.pid
*.sqlite-journal

doc/build/
**/build/
**/dist/
*.egg-info/
*.egg

*.pdf
!doc/source/*.pdf
!er_diagram.pdf
!app/rechnungen/*.pdf



.ipynb_checkpoints/
